.DS_Store
__pycache__/*
frames/__pycache__/*
*/__pycache__/*
.idea/
.idea/*
.idea/workspace.xml
people.db
form.pdf
build/*
dist/*
workoutapp_log.txt
workoutapp_log_old.txt
Workout_App_Data/*
Workout_App_Data*
toolsworkoutapp*