[Application]
name=MacEwan Workout App
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=main:main
icon=muscles_128px.ico

[Python]
version=3.4.0

[Include]
# Importable packages that your application requires, one per line
#packages = reportlab

# Other files and folders that should be installed
files = Person.py
    customWidgets/
    Database/
    frames/
    pdf/
    resultsFrames/